services:
  mongodb:
    image: mongo:7
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  wedding-app:
    build:
      context: .
    restart: unless-stopped
    depends_on:
      - mongodb
    env_file:
      - .env
    ports:
      - '3000:3000'

volumes:
  mongo-data:
